body {
  text-align: center;
  background-color: #223366;
  color: #11aaff;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 480px;
  margin: 120px;
}

.spin {
  animation: spin infinite 10s linear;
}

button {
  background-color: #ffffff;
  border: 1px solid #11aaff;
  color: #223366;
  font-weight: bold;
  font-size: 24px;
  padding: 12px;
  margin: 12px;
  text-transform: uppercase;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
